@import "mixins";
#page_talent {
  --accent: #de8f57;
  #talent {
    .top {
      display: flex;
      .btn-ol {
        font-size: 1rem;
        gap: 3em;
        display: flex;
        align-items: center;
      }
    }
    .talent-part {
      .bg-text {
        top: 10%;
        opacity: 0.05;
        p {
          font-size: 10rem;
        }
      }
      .confine {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        justify-content: center;
        display: grid;
        grid-template-columns: 500px 1fr;
        max-width: min(1000px, 90%);
        position: relative;

        @include mq(1024) {
          grid-template-columns: 400px 1fr;
        }
        @include mq(768) {
          display: flex;
          flex-direction: column-reverse;
        }
        .tcl {
          position: absolute;
          z-index: -15;
          bottom: 20%;
          left: -15%;
          scale: 0.8;
          @include mq(550) {
            bottom: 0%;
            left: -5%;
          }
        }
        .tcr {
          position: absolute;
          z-index: -15;
          top: -5%;
          right: -15%;
          scale: 0.8;
        }
        .art {
          height: 833px;
          width: 500px;
          position: relative;

          @include mq(1024) {
            width: 100%;
          }

          @include mq(550) {
            height: auto;
          }
          .tsa {
            position: absolute;
            top: 2%;
            left: -20%;
            animation: blink 1s infinite linear alternate-reverse;
            z-index: -10;
            user-select: none;
            pointer-events: none;
          }
          .d-dia {
            position: absolute;
            right: 70%;
            z-index: -1;
            top: 0%;
            scale: 0.78;
            user-select: none;
            pointer-events: none;
            path:not(.center) {
              fill: var(--accent);
            }

            .center {
              stroke: 2px var(--accent);
            }
          }
          // backgro                                                                                                                                                                                                                                                  und: black;
          .t-mart {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
          }
        }
        .details {
          // width: 400px;
          // background: purple;

          .btn-play {
            width: 60px;
            height: 60px;
            background: linear-gradient(to bottom, var(--accent), grey);
            position: relative;
            border-radius: 0 2em 0 2em;
            box-shadow: 0px 0px 4px black;
            svg {
              width: 100%;
              height: 100%;
              // background: white;
              // border-radius: 50%;
              // padding: 0.5em;
              position: absolute;
              top: 0%;
              left: 0%;
            }
            padding: 1em;
            & > div {
              width: 100%;
              height: 100%;
              background: white;
              // padding: 1em;
              position: absolute;
              top: 0%;
              left: 0%;
              scale: 0.7;
              border-radius: 5em;
              svg {
                // display: block;
                padding: 1em;
                height: 100%;
                width: 100%;
              }
            }
            .pl {
              transform: translateY(0%);
              opacity: 1;
              transition: all 500ms ease;
            }
            .pa {
              transform: translateY(-100%);
              transition: all 500ms ease;
              opacity: 0;
            }
            &.paused {
              .pl {
                transform: translateY(100%);
                opacity: 0;
              }
              .pa {
                transform: translateY(0%);
                opacity: 1;
              }
            }
          }

          .t {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-top: 3em;
            .name {
              font-size: 5rem;
              line-height: 0.8;
              margin-bottom: 0.2em;
              @include mq(550) {
                font-size: clamp(1rem, 11vw, 5rem);
              }
              &.ns {
                position: absolute;
                color: transparent;
                font-size: 15rem;
                top: 80%;
                left: 0%;
                letter-spacing: -50px;
                text-stroke: 2px white;
                -webkit-text-stroke: 2px white;
                // writing-mode: sideways-lr;
                // text-orientation: sideways-right;
                z-index: -2;
                // transform: translateX(90%);
                opacity: 0.05;
                white-space: nowrap;
                text-wrap: nowrap;
              }
            }
            .rb {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.5em;
              width: 100%;
            }
          }

          .lis {
            width: 80%;
            height: 20px;
            clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
            background: var(--accent);
          }

          .desc {
            text-align: center;
            color: var(--grey);
            margin: 2em 0;
          }

          .infos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 1em 0.5em;
            margin: 1em 0;

            .info {
              width: 100%;
              display: flex;
              gap: 0.5em;

              &:hover {
                .panel {
                  transform: translateY(-5%);
                }
                .side {
                  transform: translateY(15%);
                }
              }
              .panel {
                position: relative;
                border: 3px solid var(--accent);
                padding: 0.4em 1em;
                background: #262424;
                width: 100%;
                transition: all 500ms ease;
              }
              .side {
                height: 70%;
                width: 20px;
                background: var(--accent);
                clip-path: polygon(0 0, 100% 0%, 71% 100%, 0% 100%);
                transition: all 500ms ease;
              }
              .edge {
                position: absolute;
                // bottom: -12px;
                // right: -20px;
                bottom: 0%;
                right: 0%;
                width: 15px;
                height: 15px;
                scale: 1.4;
                path {
                  stroke: none;
                }
                path:nth-of-type(3) {
                  stroke: var(--accent);
                  stroke-width: 12px;
                }
              }
              .sub {
                font-size: 0.8rem;
                font-family: var(--fontAlt);
              }
              .data {
                font-family: var(--fontAlt);
                font-size: 1.4rem;
                line-height: 100%;
                font-weight: bold;
              }
            }
          }

          .stats {
            margin-top: 50px;
            .sl {
              display: grid;
              grid-template-columns: 1fr 1fr;
              width: fit-content;
              gap: 1em;
              margin-top: 1em;
            }

            .stat {
              display: flex;
              gap: 1em;
              background: #232323;
              padding: 0.5em 2em;
              border-radius: 3em;
              align-items: center;
              justify-content: center;
              border: 3px solid var(--white);
              position: relative;
              &:hover {
                &::before {
                  top: 10px;
                  left: 10px;
                }
              }
              &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                transition: all 500ms ease;
                width: 100%;
                height: 100%;
                background: var(--rainbow);
                border-radius: inherit;
                z-index: -2;
              }

              p {
                font-size: 1.5rem;
                font-weight: bold;
                font-family: var(--fontAlt);
              }
              svg,
              img {
                width: 30px;
                height: 30px;
              }
              img {
                object-fit: contain;
                scale: 1.4;
                filter: brightness(0%) invert(100%);
              }
            }
          }
        }
      }
    }
  }

  #talent-detail {
    min-height: 500px;
    background: linear-gradient(to bottom, #232323, #111);
    border-top: 4px solid var(--accent);
    border-bottom: 4px solid var(--accent);
    position: relative;
    z-index: 1;
    padding: 100px 0;
    .confine {
      max-width: min(90%, 1200px);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1em;
    }

    .sn {
      position: absolute;
      width: 500px;
      height: 500px;
      top: 10%;
      left: -200px;
      z-index: -1;
      scale: -1 1;

      animation: blink 1s infinite linear alternate-reverse;
      &.r {
        left: initial;
        right: -200px;
      }

      @include mq(550) {
        top: -10%;
        height: 400px;
        width: 400px;
        z-index: -10;
      }
    }
    .td-h {
      display: flex;
      align-items: center;
      margin: 1em auto;
      .h {
        font-size: 4rem;
        @include mq(768) {
          font-size: clamp(1rem, 9vw, 4rem);
          white-space: nowrap;
        }
      }
      svg {
        height: 45px;
      }
      position: relative;
    }
    .td-v {
      margin-top: 3em;
      .vid {
        .vid-c {
          iframe {
            width: 100%;
            height: 250px;
            // width: 100%;
            border: 2px solid white;
            border-radius: 2em 0;
            // min-height: 190px;
            aspect-ratio: 16/9;

            @include mq(550) {
              // height: 200px;
              aspect-ratio: 16 / 9;
              height: auto;
            }
          }
        }
        .vid-d {
          @include mq(550) {
            padding-bottom: 2em;
          }
          .p {
            font-size: 1.2rem;
            color: var(--grey);
            margin-top: 1em;
          }
        }
      }
    }

    .td-cl {
      display: flex;
      justify-content: space-between;
      margin: 150px auto;
      align-items: center;
      @include mq(1024) {
        flex-direction: column;
      }
      @include mq(550) {
        margin: 50px auto;
      }

      .l {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -10%;
          left: -10%;
          width: 50%;
          height: 70%;
          background: url("/bg/zig2.png");

          animation: bgX 50s infinite linear;
        }
        .p {
          font-size: 3.5rem;
          max-width: 90%;
          font-weight: bolder;
          line-height: 100%;
          @include mq(550) {
            font-size: 2rem;
          }
        }
      }
      .r {
        position: relative;
        white-space: nowrap;
        .btn-rb {
          position: relative;
          font-size: 1.7rem;
          // z-index: 0;
          &::before,
          &::after {
            z-index: -5;
          }
        }
      }
    }
  }
}
