#footer {
  margin-top: 150px;
  .footer-content {
    min-height: 400px;
    background: linear-gradient(#202020, #181818);
    display: grid;
    grid-template-rows: 1fr;
    .confine {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      align-items: center;
      height: 100%;
      article {
        .logo {
          max-width: 230px;
        }
        p {
          max-width: 80%;
          margin: 1em 0;
          color: var(--grey);
        }

        .notice {
          display: flex;
          gap: 1em;
          align-items: center;
          .decor {
            width: 20px;
            height: 30px;
            background: white;
            clip-path: polygon(
              0 0,
              100% 0,
              100% 50%,
              100% 100%,
              48% 100%,
              0% 50%
            );
          }
          p {
            font-family: var(--fontAlt);
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }

      .other {
        background: #171717;
        height: 100%;

        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 2em;
        padding: 2em 2em;
        padding-left: 3em;
        .left {
          display: flex;
          flex-direction: column;
          gap: 2em;
        }
        .right {
          .socials {
            display: flex;
            flex-wrap: wrap;
            padding: 1em;
            gap: 0.5em;
            .btn-icon {
              width: 50px;
              height: 100px;
            }
          }
        }

        .mini {
          &-h {
            display: flex;
            gap: 1em;
            align-items: center;
            hr {
              width: 100%;
              height: 3px;
              background: white;
            }
          }

          .list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            gap: 0.5em;
            margin: 1em 0;
            .btn-mini {
              background: #303030;
              padding: 0.2em 0.5em;
              font-size: 1.1rem;
              clip-path: polygon(
                0 0,
                100% 0,
                100% 32%,
                100% 56%,
                89% 100%,
                0 100%
              );
              border-bottom: 2px solid transparent;

              &:hover {
                border-bottom: 2px solid var(--white);
              }
            }
          }
        }
      }
    }
  }
}
