@import "mixins";
#footer {
  margin-top: 300px;
  position: relative;
  .decor {
    .center-p {
      position: absolute;
      width: 100%;
      background: var(--rb-c);
      height: 20px;
      bottom: 100%;
      left: 0%;
      animation: bgX 20s infinite linear;
      // clip-path: polygon(28% 0, 73% 0, 80% 100%, 21% 100%);
      clip-path: polygon(24% 0, 78% 0, 79% 100%, 23% 100%);
      @include mq(768) {
        height: 10px;
      }
    }
    .fsj-l {
      position: absolute;
      left: 2%;
      bottom: 95%;
      z-index: -1;
      @include mq(768) {
        height: 100px;
        left: -20%;
      }
      path {
        animation: fsj 1s infinite ease alternate-reverse;
        &:nth-of-type(2) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(1) {
          animation-delay: 0.4s;
        }
      }
      @keyframes fsj {
        from {
          transform: translateY(100%);
          scale: 1 1.5;
        }
        to {
          transform: translateY(0%);
        }
      }
    }
    .fsj-r {
      position: absolute;
      right: 2%;
      bottom: 95%;
      z-index: -1;

      @include mq(768) {
        height: 100px;
        right: -20%;
      }
      path {
        animation: fsj 1s infinite ease alternate-reverse;
        &:nth-of-type(2) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(1) {
          animation-delay: 0.4s;
        }
      }
    }
  }
  .footer-content {
    min-height: 400px;
    background: linear-gradient(#202020, #181818);
    display: grid;
    grid-template-rows: 1fr;
    .confine {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      align-items: center;
      height: 100%;

      @include mq(768) {
        display: flex;
        flex-direction: column;

        max-width: 100%;
      }
      article {
        @include mq(768) {
          padding: 2em;
        }
        .logo {
          max-width: 230px;
        }
        p {
          max-width: 80%;
          @include mq(550) {
            max-width: 100%;
          }
          margin: 1em 0;
          color: var(--grey);
        }

        .notice {
          display: flex;
          gap: 1em;
          align-items: center;
          .decor {
            width: 20px;
            height: 30px;
            background: white;
            clip-path: polygon(
              0 0,
              100% 0,
              100% 50%,
              100% 100%,
              48% 100%,
              0% 50%
            );
          }
          p {
            font-family: var(--fontAlt);
            font-size: 1.2rem;
            font-weight: bold;

            @include mq(550) {
              font-size: 1rem;
            }
          }
        }
      }

      .other {
        background: #171717;
        height: 100%;

        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 2em;
        padding: 2em 2em;

        @include mq(768) {
          width: 100%;
        }
        @include mq(550) {
          padding-top: 4em;
          display: flex;
          flex-direction: column;
        }

        padding-left: 3em;
        padding-bottom: 150px;
        position: relative;
        .sd-l {
          position: absolute;
          bottom: 10%;
          left: -2%;
          @include mq(550) {
            opacity: 0.2;
          }
        }
        .sd-r {
          position: absolute;
          top: 10%;
          right: -2%;
          @include mq(550) {
            opacity: 0.2;
          }
        }
        .left {
          display: flex;
          flex-direction: column;
          gap: 2em;
        }
        .right {
          .socials {
            display: flex;
            flex-wrap: wrap;
            padding: 1em;
            gap: 0.5em;
            .btn-icon {
              width: 50px;
              height: 100px;
            }
          }
        }

        .mini {
          &-h {
            display: flex;
            gap: 1em;
            align-items: center;
            hr {
              width: 100%;
              height: 3px;
              background: white;
            }
          }

          .list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            gap: 0.5em;
            margin: 1em 0;
            .btn-mini {
              background: #303030;
              padding: 0.2em 0.5em;
              font-size: 1.1rem;
              clip-path: polygon(
                0 0,
                100% 0,
                100% 32%,
                100% 56%,
                89% 100%,
                0 100%
              );
              border-bottom: 2px solid transparent;

              &:hover {
                border-bottom: 2px solid var(--white);
              }
            }
          }
        }
      }
    }
  }
}
