@import "mixins";
#page_contact {
  margin-top: 100px;
  margin-bottom: 300px;

  @include mq(550) {
    margin-top: 20px;
  }
  .cload {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    backdrop-filter: blur(15px);
    z-index: 50;
    top: 0%;
    left: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 120px;
      height: 120px;
      animation: speen 1s infinite ease-in-out;
      @keyframes speen {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 360deg;
        }
      }
    }
  }
  .cll {
    position: absolute;
    left: 0%;
    top: 20%;
  }
  .clr {
    position: absolute;
    right: 0%;
    top: 20%;
  }
  @supports (animation-timeline: scroll()) {
    .cll {
      animation: cll;
      animation-timeline: scroll();
      @keyframes cll {
        from {
          transform: translateX(-30%);
        }
        to {
          transform: translateX(20%);
        }
      }
    }
    .clr {
      animation: clr;
      animation-timeline: scroll();
      @keyframes clr {
        from {
          transform: translateX(30%);
        }
        to {
          transform: translateX(-20%);
        }
      }
    }
  }
  #contact-h {
    display: flex;
    align-items: center;
    @include mq(550) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    .title {
      .sub {
        width: fit-content;
      }
      .h {
        font-size: 3rem;

        @include mq(420) {
          font-size: 2.3rem;
        }
      }
    }
    .svjaw {
      margin-left: 2em;

      @include mq(550) {
        margin-left: 0;
        margin-bottom: 1em;
      }
    }
  }

  #contact-f {
    position: relative;
    .bg-rainbow {
      position: absolute;
      height: 100%;
      width: 100%;
      background: var(--rainbow);
      scale: 1.4 1;
      filter: blur(400px);
      z-index: -2;
      opacity: 0.2;
    }

    input,
    textarea {
      position: relative;
      background: #242424;
      font-family: var(--fontMain);
      padding: 1em;
      border-radius: 0 2em 2em 0;
      font-size: 1rem;

      color: var(--white);
      font-weight: bold;
      border: none;
      width: 100%;
      height: 100%;

      @include mq(420) {
        border-radius: 0 0.5em 0.5em 0;
      }
      &::before {
        scale: 1.1;
      }
      &::placeholder {
        opacity: 0.7;
        font-weight: lighter;
      }
      &:focus {
        outline: 2px solid white;
      }
    }
    textarea {
      min-height: 350px;
      resize: none;
    }

    .backglow {
      position: relative;
      border-radius: 0 50px 50px 0;
      @include mq(420) {
        border-radius: 0 0.5em 0.5em 0;
      }
      &:has(textarea) {
        &::before,
        &::after {
          scale: 1.01 1.01;
        }
      }
    }
    .ff {
      display: flex;
      flex-direction: column;
      gap: 0.1em;
      font-size: 1.5rem;
      font-weight: 500;
      @include mq(550) {
        font-size: 1.2rem;
      }
      label {
        font-family: var(--fontMain);
        font-weight: 500;
        // padding: 0;
        margin-left: -0.2em;
        padding: 0.25em 0;
      }
    }
    .fg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      margin-block: 2em;

      @include mq(768) {
        display: flex;
        flex-direction: column;
      }
    }

    .contact-m {
      display: grid;
      grid-template-columns: 1fr 180px;
      gap: 2em;

      @include mq(550) {
        display: flex;
        flex-direction: column;
      }
      .r {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
        padding-top: 2.5em;

        @include mq(550) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .socials {
          display: flex;
          flex-wrap: wrap;
          // flex-grow: 1;
          // grid-template-columns: ;
          gap: 1em;
          @include mq(468) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .btn-icon,
            .logo {
              height: 100%;
              width: 100%;
            }
          }
        }
        @include mq(550) {
          align-items: center;
        }
        .btn-send {
          height: 100%;
          width: 100%;
          background: white url("/bg/wavy.png");
          padding: 0.5em 1em;
          border-radius: 0.5em;

          display: flex;
          @include mq(550) {
            height: 200px;
          }
          @include mq(420) {
            height: 150px;
          }
          p {
            font-size: 2rem;
            color: black;
            font-weight: bold;
          }
          position: relative;
          clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 21% 100%, 0 75%);
          &:hover {
            scale: 1.05;
          }
          &:active {
            scale: 0.95;
          }
          svg {
            position: absolute;
            right: 0.5em;
            bottom: 0.5em;
          }
        }
        .logo {
          border: 2px solid white;
          padding: 0.7em;
          border-radius: 50%;
        }
        .ico {
          width: 80px;
          height: 80px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  #contact-ft {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    align-items: center;
    .l {
      display: flex;
      align-items: center;
      gap: 1em;
      .j {
        width: 30px;
        // clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 21% 100%, 0 75%);
        clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 42% 100%, 0 75%);
        height: 50px;
        background: var(--grey);
        @include mq(550) {
          height: 30px;
        }
      }
      p {
        color: var(--grey);
        font-size: 1.2rem;
        max-width: 50%;
        @include mq(1024) {
          font-size: 1rem;
          max-width: 90%;
        }
        @include mq(550) {
          font-size: clamp(0.8rem, 3.5vw, 1.1rem);
        }
      }
    }
    @include mq(768) {
      .r {
        width: 30%;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include mq(550) {
      .r {
        display: none;
      }
    }
  }
}
