@import "mixins";
#home-talent {
  padding-top: 200px;
  .top-neon {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-70%);
    translate: 0 -80%;
    z-index: -8;
  }

  .bg-text {
    top: 0%;
  }
  .t-h {
    position: relative;
    margin: 0 auto;
    // margin-top: 100px;
    text-align: center;
    .sh-contianer {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }

    .h {
      font-size: 4rem;
    }

    .ht-l {
      position: absolute;
      z-index: -1;
      left: -2%;
      top: 0%;
      @include mq(768) {
        left: -20%;
      }
      @include mq(550) {
        left: -50%;
      }
    }
    .ht-r {
      position: absolute;
      top: 0%;
      z-index: -1;
      right: -2%;
      @include mq(768) {
        right: -20%;
      }
      @include mq(550) {
        right: -50%;
      }
    }
  }
  position: relative;

  .talent-list-container {
    // overflow-y: hidden;
    display: flex;
    gap: 1em;
    position: relative;
  }
  .scroller {
    max-width: 1200px;
    margin: 0 auto;

    // overflow-x: hidden;
  }

  .talent-lists {
    display: flex;
    gap: 1em;
    position: relative;
    .talent-card {
      width: 300px;
      height: 500px;

      // background: red;
      display: grid;
      grid-template-rows: 420px 1fr;

      @include mq(768) {
        width: 230px;
        height: 400px;
        grid-template-rows: 300px 1fr;
      }
      --accent: #8b2223;
      position: relative;
      .top {
        position: relative;
        overflow: hidden;
        &::before {
          content: url("/de/talentcard-triangle.svg");
          position: absolute;
          bottom: 0%;
          left: 3%;
          width: 50px;
          height: 50px;
          // border: 2px solid white;
        }
        .slanted {
          background: linear-gradient(var(--accent) 40%, transparent);
          clip-path: polygon(0 40%, 100% 25%, 100% 100%, 0% 100%);
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .line-bg {
          outline: 2px solid var(--accent);
          outline-offset: -30px;
          top: 14%;
          // clip-path: polygon(0% 0%, 100% 0, 100% 64%, 0 63%);
          mask-image: linear-gradient(to bottom, white, transparent 50%);
          transform-origin: center;
          border-radius: 4em;
          height: 100%;
          width: 100%;
          position: absolute;
        }
        .talent-art {
          z-index: 1;
          position: relative;
          transform: translateY(15%);
          transition: all 500ms ease;
          width: 100%;
          height: 100%;
          filter: drop-shadow(0px 0px 5px black);
          object-fit: contain;
        }
        &:hover {
          .talent-art {
            transform: translateY(5%);
            filter: drop-shadow(0px 0px 14px black);
          }
        }
      }
      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font-size: 3rem;
          color: var(--accent);
          @include mq(768) {
            font-size: 2rem;
          }
        }
        svg {
          fill: var(--accent);
          @include mq(768) {
            height: 20px;
          }
          path {
            fill: var(--accent);
          }
        }
      }
    }
  }

  .action {
    display: flex;
    justify-content: center;
    .btn-rb {
    }
  }
}
