@import "mixins.scss";
#page_home {
  // min-height: 5000px;
  #hero {
    .confine {
      max-width: 1000px;
    }
    position: relative;
    .h-sidejaw {
      // display: ;
      position: absolute;
      left: 0%;
      z-index: -1;
      top: 10%;
      overflow: visible;
      path {
        animation: h-jaw 1s infinite ease-in-out alternate-reverse;
        transform-origin: right;
        &:nth-of-type(2) {
          animation-delay: 500ms;
        }
        &:nth-of-type(1) {
          animation-delay: 1000ms;
        }
      }
    }

    @keyframes h-jaw {
      from {
        transform: translateX(-10%);
      }
      to {
        scale: 4 1;
        transform: translateX(-50%);
      }
    }

    @keyframes h-jaw-r {
      from {
        transform: translateX(-10%);
      }
      to {
        transform: translateX(50%);
        scale: 4 1;
      }
    }
    .h-sidejaw-r {
      position: absolute;
      right: 0%;
      top: 10%;
      z-index: -1;
      overflow: visible;
      path {
        animation: h-jaw-r 1s infinite ease-in-out alternate-reverse;
        &:nth-of-type(2) {
          animation-delay: 500ms;
        }
        &:nth-of-type(1) {
          animation-delay: 1000ms;
        }
      }
    }
    article {
      padding-top: 3em;

      .sub {
        display: flex;
        gap: 1em;
        align-items: center;
        .sh {
          font-size: 2.5rem;
          white-space: nowrap;
          font-weight: 300;
          gap: 1em;
        }
      }
      .h.mh {
        font-size: 3.5rem;
        text-transform: uppercase;
      }
      .action {
        display: flex;
        gap: 1em;
        text-transform: uppercase;
        .btn {
          text-transform: uppercase;
        }
        align-items: center;
        .svjaw {
          height: 50px;
        }
      }
    }

    .video-container {
      max-width: 100%;
      border-radius: 2em 2em 0 0;
      position: relative;
      margin-top: 20px;

      @media screen and (min-width: 1200px) {
        @supports (animation-timeline: scroll()) {
          scale: 0.9;
          transform: translateY(40%);

          animation: hv;
          animation-timeline: scroll();
          transform-origin: bottom;
          @keyframes hv {
            0% {
              opacity: 0;
            }
            5% {
              transform: translateY(0%);
              scale: 1;
              opacity: 1;
            }
            10% {
              scale: 1.3;
              transform: translateY(15%);
              z-index: 10;
              opacity: 1;
              user-select: all;
              pointer-events: all;
            }
            15% {
              opacity: 1;
              user-select: all;
              pointer-events: all;
            }
            40% {
              opacity: 0;
              user-select: none;
              pointer-events: none;
              transform: translateY(-100%);
            }
            45% {
              opacity: 0;
            }
          }
        }
      }
      &:hover {
        .decor-l {
          right: 95%;
          top: 0%;
        }
        .decor-r {
          top: 0%;
          left: 98%;
        }
      }
      .decor-l {
        position: absolute;
        z-index: -14;
        top: 50%;
        transition: all 1250ms ease;
        right: 93%;
      }
      .decor-r {
        transition: all 1250ms ease;
        position: absolute;
        z-index: -15;
        left: 94%;
        top: 20%;
      }
      &::before,
      &::after {
        scale: 1.009 0.97;
      }
      .video-center {
        border-radius: inherit;
        width: 100%;
        aspect-ratio: 16/9;
        margin-top: 1em;
      }
    }

    &::after {
      content: "";
      height: 600px;
      width: 100%;
      position: absolute;
      z-index: -2;
      background: var(--rainbow);
      filter: blur(200px);
      border-radius: 50%;
      bottom: -70%;
      opacity: 0.8;
      // mask-image: linear-gradient(to bottom, transparent, white);
    }
  }

  #main-about {
    background: linear-gradient(to right, #282828, rgb(12, 12, 12));
    background-blend-mode: overlay;
    background-size: cover;
    // min-height: 900px;
    border: 4px solid var(--grey);
    border-left: none;
    border-right: none;
    transform: translateY(-10px);
    // position: relative;
    // z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: url("/bg/bg-art.png");
      background-size: cover;
      background-attachment: fixed;
      z-index: -1;
      opacity: 0.05;
    }

    .claw {
      position: absolute;
      scale: 0.8;
      &.l {
        top: 15px;
        left: 10px;
      }
      &.r {
        bottom: 15px;
      }
      right: 10px;
    }

    .confine {
      max-width: 1100px;
      // margin: 0 auto;
      padding-block: 100px;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: 3em;
      align-items: center;
      margin: 3em auto;

      article {
        .p {
          margin-top: 2em;
          margin-bottom: 2em;
        }
        .controls {
          display: flex;
          align-items: center;
          gap: 1em;
          .pid {
            font-size: 2rem;
            font-family: var(--fontAlt);
          }
        }
        .text-container {
          // scroller/page
          // min-height: 350px;
          // display: flex;
          // flex-direction: column;
          // justify-content: space-between;
          // filter: drop-shadow(0px 0px 14px black);

          // scrollbar
          margin-top: 1em;
          max-height: 400px;
          overflow-y: scroll;
          p {
            margin-block: 1em;
          }
        }
      }
      // .text-container {
      // max-height: 250px;
      // overflow-y: scroll;
      // margin-top: 2em;
      // }
      figure {
        display: flex;
        justify-content: center;
        img {
          max-height: 300px;
          filter: drop-shadow(0px 0px 14px black);
        }
      }
    }
  }
}
