@import "mixins";

#page_achievements {
  #achievement {
    padding-top: 100px;
    @include mq(550) {
      padding-top: 10px;
    }
    .confine {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 4em;
      position: relative;

      @include mq(1024) {
        display: flex;
        flex-direction: column;
      }
      .slide {
        position: relative;
        .al {
          position: absolute;
          left: -5%;
          top: 0%;
          @include mq(768) {
            scale: 0.5;
          }

          z-index: 1;
        }
        .ar {
          position: absolute;
          right: -5%;
          z-index: 1;
          bottom: 10%;
          @include mq(768) {
            scale: 0.5;
          }
        }
        .display {
          position: relative;
          border-radius: 2em 2em 2em;
          height: 500px;
          @include mq(1024) {
            height: auto;
          }
          &::before,
          &::after {
            scale: 1.005;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            background: #1d1d1d;
            border-radius: inherit;
          }
        }

        .controls {
          display: flex;

          .pager {
            display: flex;
            align-items: center;
            gap: 1em;
            flex-wrap: wrap;
            @include mq(550) {
              gap: 0.4em;
            }
            .p {
              width: 10px;
              border-radius: 1em;
              height: 10px;
              background: white;
              opacity: 0.2;

              @include mq(550) {
                width: 5px;
                height: 5px;
              }
              &.c {
                opacity: 1;
              }
            }
          }
          .btn-ol {
            @include mq(550) {
              font-size: 1rem;
            }
          }
          justify-content: space-between;
        }
      }

      #detail {
        .a-h {
          display: flex;
          justify-content: flex-end;
          text-align: right;
          flex-direction: column;
          align-items: flex-end;
          svg {
            margin: 0 0 1em 0;
          }
        }

        .a-d {
          position: relative;
          margin-top: 50px;
          .back-line {
            position: absolute;
            height: 100%;
            width: 100%;
            border: 1px solid white;
            border-image: var(--rainbow) 5%;
            top: 6%;
            left: 6%;
            z-index: -1;
            &::before,
            &::after {
              scale: 1;
              z-index: -12;
            }
          }
          .panel {
            position: relative;
            margin: 1em 0;
            background: #232323;
            border-radius: 0 4em 0 4em;
            padding: 2em;
            height: 400px;
            &::before,
            &::after {
              scale: 1.01;
            }

            .p {
              font-size: 0.9rem;
              color: var(--grey);
              margin-top: 2em;
            }

            .arr {
              position: absolute;
              bottom: 2%;
              right: 2%;
              height: 50px;
              width: 50px;
              clip-path: polygon(100% 0, 0% 100%, 100% 100%);
              background: var(--white);
            }
          }
        }
      }
    }
  }

  #achievement-h {
    background: url("/bg/grain.png") #232323;
    background-blend-mode: overlay;
    margin-top: 200px;
    border-radius: 5em;
    position: relative;
    .decor-side {
      position: absolute;
      left: 50px;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      gap: 2em;
      @include mq(768) {
        left: 5px;
      }
      .line {
        width: 3px;
        height: 500px;
        background: white;
      }

      .t {
        height: 100px;
        width: 100px;
        background: var(--white);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);

        @include mq(550) {
          width: 50px;
          height: 50px;
        }
      }
      &.r {
        left: initial;
        justify-content: flex-start;
        bottom: initial;
        align-items: flex-end;
        right: 40px;
        top: 5%;

        @include mq(768) {
          right: 5px;
        }
        .line {
        }
        .t {
          clip-path: polygon(0 0, 100% 100%, 100% 0);
        }
      }
    }
    .confine {
      padding: 190px 0;
      position: relative;
      z-index: 10;
      filter: drop-shadow(0px 0px 4px black);
      @include mq(1024) {
        max-width: 80%;
      }
      .decor-icon {
        height: 700px;
        width: 700px;
        object-fit: contain;
        position: absolute;
        top: 0%;
        right: 0%;
        opacity: 0.04;
        @include mq(550) {
          height: 400px;
          width: 400px;
        }
      }
      .desc {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 5em;
        position: relative;

        @include mq(550) {
          gap: 2em;
          display: flex;
          flex-direction: column;
        }
      }

      .title {
        .sh {
          font-size: 2rem;
          @include mq(550) {
            font-size: 1.2rem;
          }
        }
        .h {
          font-size: 3.4rem;
          line-height: 90%;

          @include mq(550) {
            font-size: 2.5rem;
          }
        }
        margin-bottom: 4em;
      }
      .p {
        color: var(--grey);
        margin-bottom: 2em;
        @include mq(550) {
          font-size: clamp(0.9rem, 2vw, 1.5rem);
        }
      }
    }
  }
}
